{% load i18n %}
<nav class="nav justify-content-center p-3 {% if  not rooms and not services and not benefits %}position-absolute bottom-0 left-0 w-100{% endif %}" style="color: var(--realce-2-color);">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            &copy; {% now "Y" %} {{hotel.name}}. {% trans "All rights reserved." %}
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            {% for channel in contact_channels %}
                <a class="nav-item nav-link" href="{% if channel.name == 'email' %}mailto:{% endif %}{{channel.value}}">
                    <i class="{{channel.html_icon}}"></i> {{channel.display_name}}
                </a>
            {% endfor %}
        </div>
    </div>
</nav>
