{% if room.available %}
    <a href="{% url "reserve" room.id %}" class="btn btn-outline-info">Reservar {{room.daily_price_formatted}}</a>

{% elif reservation_on and room.id == reservation_on.room.id %}
    <a href="{% url "reservation_history" reservation_on.id %}" class="btn btn-outline-info">
        Ver reserva
    </a>

{% else %}
    <a href="{% url "schedule" room.id %}" class="btn btn-outline-info">
        <i class="fa-brands fa-whatsapp"></i> 
        Agendar {{room.daily_price_formatted}}
    </a>

{% endif %}
