{% extends "base.html" %}
{% load static %}

{% block css %}{% endblock css %}

{% block content %}

<!--presentation section-->
<section class="preserntation mb-5">
    <div class="jubroton">
        <h1 class="text-center display-4">Hotel {{hotel.name}}</h1>
        <h2 class="slogan text-center mb-4" style="font-size: 15px;">{{hotel.slogan}}</h2>

        <p class="lead presentation-text text-center mx-5">
            {{hotel.presentation_text}}
        </p>

    </div>
    {% if not request.user.is_authenticated %}
        <div class="d-flex justify-content-center">
            <a href="{% url "signup" %}" class="btn btn-outline-info signup_btn">Registrar-se</a>
        </div>
    {% endif %}
</section>

<!--rooms section-->
<section class="best-seller-rooms mb-5">

    <h1 class="text-center mb-5">Quartos mais procurados</h1>
    <div class="container">
        <div class="row">

            {% for room in rooms %}
                <div class="col-md-4">
                    <div class="card p-1">
                        <img src="{{room.image.url}}" alt="" class="card-img-top rounded">
                        <div class="card-body">
                            <h5 class="card-title">Quarto {{room.number}} | {{room.room_class}}</h5>
                            <p class="card-text">
                                {{room.short_desc}}
                            </p>
                        </div>
                        <a href="{% url "room" room.pk %}" class="btn reserve-btn btn-outline-info">Conhecer</a>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>

</section>

<!--services section-->
<section class="services mb-5">
    <h1 class="text-center mb-4 ">Alguns de nossos serviços</h1>

    <div class="container">
        <div class="row d-flex align-items-center mb-5">

            {% for service in services %}
                {% if forloop.counter|divisibleby:"2" %}
                    <div class="row d-flex align-items-center mb-5">
                        <div class="col-md-8">
                            <h2 style="color: var(--realce-2-color); margin-left: 5%;">{{service.name|capfirst}}</h2>
                            <p>
                                {{service.presentation_text}}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{service.logo.url}}" alt="" class="img-fluid rounded">
                        </div>
                    </div>

                {% else %}
                    <div class="row d-flex align-items-center mb-5">
                        <div class="col-md-4">
                            <img src="{{service.logo.url}}" alt="" class="img-fluid rounded">
                        </div>
                        <div class="col-md-8">
                            <h2 style="color: var(--realce-2-color); text-align: end; margin-right: 8%;">{{service.name|capfirst}}</h2>
                            <p>
                                {{service.presentation_text}}
                            </p>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
        
    </div>
</section>

<!--benefits section-->
<section class="benefits ">
    <h1 class="text-center">Benefícios Destaques</h1>
    <div class="container mt-4">
        <div class="row d-flex justify-content-center">
            {% for benefit in benefits %}
                <div class="col-md-2 d-flex flex-column justify-content-center align-items-center mb-3">
                    <img src="{{benefit.icon.url}}" alt="" width="64" class="img-fluid mr-3">
                    <p>
                        {{benefit.short_desc|capfirst}}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock content %}
