{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<section>
    
    <article>
        <h1 class="text-center">{{hotel.slogan}}</h1>
        <p class="mx-5">
            {{hotel.presentation_text}}
        </p>
    </article>

</section>
<br>
<section class="mx-5 my-3">
    <article>
        <h2 class="text-center fs-3">{{restaurant.name|upper}}</h2>
        <div class="row align-items-center">
            <div class="col-md-4">
                <img class="img-thumbnail p-1" src="{{restaurant.logo.url}}" alt="Placeholder Image">
            </div>
            <div class="col-md-8">
                <p class="mr-5">
                    {{restaurant.presentation_text}}
                </p>
            </div>
        </div>
    </article>
</section>
<br>
<section class="mt-2">
    <article>
        {% if rooms %}
            <h2 class="text-center fs-3 mb-2">QUARTOS MAIS PROCURADOS</h2>
        {% endif %}
        <div class="row d-flex justify-content-center align-items-center">
            {% for room in rooms %}
        
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{room.image.url}}" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body d-flex flex-column p-2">
                            <h5 class="card-title">{{room.classe}}</h5>
                            <p class="card-text">{{room.short_desc}}</p>
                            <a href="{% url 'room' room.pk %}" class="btn btn-primary text-center">Conhecer</a>
                        </div>
                    </div>
                </div>
        
                {% endfor %}
        </div>
    </article>
</section>
<br>
<section class="mx-5 my-3 mb-5">
    <article>
        <h2 class="text-center fs-3">ALGUNS DE NOSSOS BENEFÍCIOS</h2>

        <ul class="list-group mb-1">
            {% for benefit in benefits %}
            
                {% if benefit.displayable_on_homepage %}
                    <li class="list-group-item">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-1">
                                {% if benefit.icon %}
                                    <img class="img-thumbnail" src="{{benefit.icon.url}}" alt="Placeholder Image">
                                {% endif %}
                            </div>
                            <div class="col-md-11">
                                <span class="ml-5">
                                    {{benefit.short_desc}}
                                </span>
                            </div>

                        </div>
                    </li>

                {% endif %}

            {% endfor %}
        
        </ul>

    </article>
</section>



{% endblock content %}