{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center text-center" style="padding: 10%;">
    <form id="form" method="post">{% csrf_token %}
        <p>{% trans "Are you sure you want to delete your account with the username" %} "{{ object }}"?</p>
        <small class="text-danger">{% trans "this action cannot be undone" %}</small><br>
        {{ form }}
        {% include "partials/_recaptcha_input.html" %}
        <input class="btn btn-danger mt-5" type="submit" value="{% trans "Delete" %}">
    </form>
</div>

{% include "partials/_recaptcha_v3.html" %}
{% endblock content %}
