{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "reserva/css/reserve.css" %}">
{% endblock css %}
{% block title %}alterar senha{% endblock title %}
{% block content %}


<div class="container d-flex justify-content-center align-items-center text-light p-5">
    <form id="form" action="{% url "update_perfil_password" request.user.pk %}" class="reserve-form" method="post">{% csrf_token %}
        {% include "partials/_messages.html" %}
        <div class="row p-3">
            <div class="form-group col-md-12 mb-2">
                <label for="password">Nonva senha</label>
                <input  required type="password" required class="form-control" value="" name="new_password" id="new_password" placeholder="nova senha" aria-label="new_password">
            </div>
            <div class="form-group col-md-12 mb-2">
                <label for="password">Repita a senha</label>
                <input  required type="password" required class="form-control" value="" name="password_repeat" id="password_repeat" placeholder="repita a senha" aria-label="password_repeat">
            </div>
            {% include "partials/_recaptcha_input.html" %}
            <div class="col-md-12 d-flex justify-content-center mt-3">
                <input class="btn btn-outline-info" type="submit" value="Salvar">
            </div>
        </div>
    </form>

</div>

{% include "partials/_recaptcha_v3.html" %}
{% endblock content %}

{% block footer %}
<footer class="footer fixed-bottom">
    {% include "partials/_footer.html" %}
</footer>
{% endblock footer %}