{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'reserva/css/reserve.css' %}">
    <link rel="stylesheet" href="{% static 'cliente/css/signin.css' %}">
{% endblock css %}

{% block title %} Sign-in{% endblock title %}
    


{% block content %}

<div class="container d-flex justify-content-center container-form-out align-items-center">
            
    <form action="{% url "signin" %}" method="post" class="form reserve-form text-light" id="form">{% csrf_token %}
        <div class="container">
            {% include "partials/_messages.html" %}
            <div class="text-end">
                <a href="{% url "signup" %}" class="text-light">
                    Criar conta.
                </a>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="username" class="form-label">Usuário ou E-mail</label>
                        <input required id="username" name="username" type="text" class="form-control" placeholder="Insira seu e-mail ou nome de usuário">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password" class="form-label">Senha</label>
                        <input required id="password" name="password" type="password" class="form-control" placeholder="Informe a sua senha">
                    </div>
                </div>

                {% include "partials/_recaptcha_input.html" %}
                <div class="col-md-12 d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-outline-info">Enviar</button>
                </div>
            </div>
        </div>

    </form>
</div>


{% include "partials/_recaptcha_v3.html" %}

{% endblock content %}

{% block footer %}
    <footer class="fixed-bottom mt-5">
        {% include "partials/_footer.html" %}
    </footer>
{% endblock footer %}