{% extends "base.html" %}
{% load static %}

{% block title %}Sign-up{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static "reserva/css/reserve.css" %}">
    <link rel="stylesheet" href="{% static "cliente/css/signin.css" %}">
{% endblock css %}

{% block content %}

<div class="container d-flex justify-content-center containe-form-out align-items-center">
            
    <form action="{% url "signup" %}" method="post" class="form reserve-form text-light" >{% csrf_token %}
        <div class="container">
            {% include "partials/_messages.html" %}

            <div class="text-end">
                <a href="{% url "signin" %}" class="text-light">
                    Já tenho uma conta.
                </a>
            </div>

            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="username" class="form-label">Usuário</label>
                        <input required id="username" name="username" type="text" class="form-control" placeholder="Insira seu nome de usuário" value="{% if request.POST.username %}{{request.POST.username}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="nome" class="form-label">Nome</label>
                        <input required id="nome" name="nome" type="nome" class="form-control" placeholder="Informe o seu primeiro nome" value="{% if request.POST.nome %}{{request.POST.nome}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="email" class="form-label">E-mail</label>
                        <input required id="email" name="email" type="email" class="form-control" placeholder="email@example.com" value="{% if request.POST.email %}{{request.POST.email}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="sobrenome" class="form-label">Sobrenome</label>
                        <input required id="sobrenome" name="sobrenome" type="sobrenome" class="form-control" placeholder="Informe o seu sobrenome" value="{% if request.POST.sobrenome %}{{request.POST.sobrenome}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="password" class="form-label">Senha</label>
                        <input required id="password" name="password" type="password" class="form-control" placeholder="Informe a sua senha">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="cpf" class="form-label">CPF</label>
                        <input required id="cpf" name="cpf" type="cpf" class="form-control" placeholder="Informe seu CPF" value="{% if request.POST.cpf %}{{request.POST.cpf}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input id="telefone" required name="telefone" type="telefone" class="form-control" placeholder="Apenas números" value="{% if request.POST.telefone %}{{request.POST.telefone}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="nascimento" class="form-label">Data de Nascimento</label>
                        <input required id="nascimento" name="nascimento" type="date" class="form-control">
                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-outline-info">Enviar</button>
                </div>
            </div>
        </div>

    </form>
</div>


{% endblock content %}