nav {
    background-color: #694464;
    padding: 3%;
}
nav div {
    display: flex;
    justify-content: space-around;
}
nav div a {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color:blanchedalmond
}
body {
    background-image: url('/static/home/img/fundo_pagina.png');
    background-repeat: no-repeat;
    background-size: cover;
}
footer  {
    background-color: #694464;
    padding: 0%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p  {
    color: bisque;
    margin-top: 10px;
}
footer a {
    color: bisque;
}
