:root {
    --dark-color: #0d1b2a;
    --main-color: #1b263b;
    --realce-color: #415a77;
    --realce-2-color: #778da9;
    --realce-3-color: #8fb0ec;
    --light-color: #e0e1dd;
}

body {
    background-color: var(--main-color);
    height: 100vh;
    max-width: 100vw;
}
h1 {
    color: var(--realce-3-color);
}
nav {
    background-color: var(--dark-color);
}

p{
    color: var(--light-color);
}
.slogan {
    color: var(--realce-color);
}

.card {
    background-color: var(--realce-color);
    height: 100%;
}
.card-title {
    text-align: center;
}

@keyframes signup_btn {
    0% {background-color: #0d1b2a;}
    25% {background-color: #1b263b;}
    50% {background-color: #1d2f44;}
    75% {background-color: #1b263b;}
    100% {background-color: #0d1b2a;}
}

.signup_btn {
    animation-name: signup_btn;
    background-color: #0d1b2a;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.reserve-btn {
    background-color: #1d2f44;
    /* color: var(--light-color); */
}
