.navbar {
    background-color: #694464;
    padding-inline: 5%;
}
.nav-link {
    color: rgb(206, 203, 203);

}
body {
    height: 100%;
    background-image: url('../img/bg-3.jpg');
    background-size: cover;
}
footer  {
    background-color: #694464;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: -ms-page;
}
