.prereserva-container {
  background-color: rgba(219, 193, 243, 0.521);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(214, 167, 198, 0.548);
  border-width: 1px;
  padding: 3%;
  margin-block: 3%;
  width: 70vh;
}
.reserva-btn {
  background-color: rgb(172, 123, 218);
}

.reservas-form div {
  margin-top: 10px;
}
.reservas-form div input {
  background-color: rgba(86, 83, 88, 0.384);
  max-width: 100%;
}
.reservas-form div textarea {
  background-color: rgba(86, 83, 88, 0.384);
  max-width: 100%;
}
.reservas-form div select {
  background-color: rgba(86, 83, 88, 0.384);
  max-width: 60%;
}

.reserva-btn {
  background-color: rgb(192, 140, 241);
}
.reserva-btn:hover {
  background-color: rgba(137, 43, 226, 0.397);
}