{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="container">
    <div class="list-group d-flex justify-content-center">
        {% for reserva in reservas %}
            <a href="{% url "historico_reserva" reserva.pk %}" class="list-group-item list-group-item-action {% if reserva.ativa %}active{% endif %} mb-2" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Quarto Nº{{reserva.quarto.numero}} - {{reserva.quarto.classe}}</h5>
                <small>{{reserva.get_status_display}} | {{reserva.created_at|naturalday}}</small>
            </div>
            <p class="mb-1">{{reserva.check_in}} - {{reserva.checkout}}</p>
            <small>{{reserva.formatted_price}}</small>
            </a>
        {% empty %}
            <div class="d-flex justify-content-center mt-5">
                <p class="fs-4">Você ainda não possui reservas. Dê um olhada em nossos <a href="{% url "quartos" %}">quartos.</a></p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
