{% extends "base.html" %}


{% block content %}



<div class="container mt-5 vh-100">
    <div class="row ">
        <div class="col-md-6">
            <img src="{{ reserva.quarto.image.url }}" class="img-thumbnail" alt="{{ reserva.quarto.image.name }}">
        </div>
        <div class="col-md-6 ml-3">
            <h1>Quarto {{ reserva.quarto.classe }}</h1>
            <div class="row d-flex mt-5">
                <p class="fs-5">Check-in: {{ reserva.check_in }}</p>
                <p class="fs-5">Check-out: {{ reserva.checkout }}</p>
                <p class="fs-5">Quarto: Nº{{ reserva.quarto.numero }}</p>
                <p class="fs-5">Custo: {{ reserva.formatted_price }}</p>
                <p class="fs-5">Data de criação: {{ reserva.created_at }}</p>
                <p class="fs-5">Status: {{ reserva.get_status_display|title }}</p>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <p class="text-dark">{{quarto.long_desc}}</p>
        </div>
    </div>
</div>

{% endblock content %}