
{% extends 'base.html' %}

{% block content %}
    <div class="prereserva-container container">
        <form action="{% url 'pre_reserva' %}" method="post" class="reservas-form row g-3">
            {% csrf_token %}
            {% include "partials/_messages.html" %}

            <div class="col-md-6">
                <input type="text" required class="form-control" value="{% if request.POST.cliente_nome %}{{request.POST.cliente_nome}}{% endif %}" name="cliente_nome" id="cliente_nome" placeholder="Nome" aria-label="Nome">
            </div>
    
            <div class="col-md-6">
                <input type="text" required class="form-control" value="{% if request.POST.cliente_sobrenome %}{{request.POST.cliente_sobrenome}}{% endif %}" name="cliente_sobrenome" id="cliente_sobrenome" placeholder="Sobrenome" aria-label="Sobrenome">
            </div>
    
            <div class="col-md-4">
                <label for="cliente_nascimento" class="form-label">Nascimento</label>
                <input type="date" required class="form-control" value="{% if request.POST.cliente_nascimento %}{{request.POST.cliente_nascimento}}{% endif %}" name="cliente_nascimento" id="cliente_nascimento">
            </div>
    
            <div class="col-md-4">
                <label for="checkin" class="form-label">Check-in</label>
                <input required type="date" class="form-control" name="checkin" value="{% if request.POST.checkin %}{{request.POST.checkin}}{% endif %}">
            </div>
    
            <div class="col-md-4">
                <label for="checkout" class="form-label">Check-out</label>
                <input required type="date" class="form-control" name="checkout" value="{% if request.POST.checkout %}{{request.POST.checkout}}{% endif %}">
            </div>

            <div class="col-md-6">
                <label for="adultos" class="form-label">Qtd. Adultos</label>
                <input required type="number" class="form-control" name="adultos" id="adultos" value="{% if request.POST.adultos %}{{request.POST.adultos}}{% else %}1{% endif %}">
            </div>
    
            <div class="col-md-6">
                <label for="criancas" class="form-label">Qtd. Crianças</label>
                <input required type="number" class="form-control" name="criancas" id="criancas" value="{% if request.POST.criancas %}{{request.POST.criancas}}{% else %}0{% endif %}">
            </div>
    
            <div class="col-md-6">
                <label for="telefone" class="form-label">Telefone</label>
                <input required maxlength="11" type="text" class="form-control" name="telefone" id="telefone" placeholder="apenas números" value="{% if request.POST.telefone %}{{request.POST.telefone}}{% endif %}">
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">E-mail</label>
                <input required type="email" class="form-control" name="email" id="email" placeholder="Informe seu email" value="{% if request.POST.email %}{{request.POST.email}}{% endif %}">
            </div>

            <div class="col-md-12 d-flex justify-content-center mt-4">
                <label for="quarto" class="form-label"></label>
                <select name="quarto" id="quarto" class="form-select mt-2">
                    <option value="0" {% if request.POST.quarto == 0 %} selected {% endif %}>Quarto</option>
                    {% for room_class in room_classes %}
                        <option value="{{room_class.pk}}" {% if request.POST.quarto == room_class.pk %} selected {% endif %}>{{room_class.nome}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-12">
                <label for="obs" class="form-label">Observações</label>
                <textarea maxlength="100" rows="3" class="form-control" name="obs" id="obs" placeholder="Ex.: Decoração de casal" value="{% if request.POST.obs %}{{request.POST.obs}}{% endif %}"></textarea>
            </div>

            <div class="col-md-12 d-flex justify-content-center mt-3">
                    <button type="submit" class="reserva-btn btn">Enviar</button>
            </div>
    
        </form>
    </div>
{% endblock content %}
