{% extends "base.html" %}
{% load static %}
{% load customfilters %}

{% block head %}<link rel="stylesheet" href={% static "/reserva/css/reserva.css" %}>{% endblock head %}

{% block content %}


<div class="rooms container py-5">
    <div class="row">
        {% include "partials/_messages.html" %}

        {% for room in rooms_available %}
            <div class="col-md-12 mb-2">
                <!--card init-->
                <div class="card room-card">

                    <div class="row no-gutters">
                        <div class="col-md-6 d-flex justify-content-center">
                            {% if room.image %}
                                <a href="{% url "quarto" room.pk %}">
                                    <img class="card-img-top" src="{{ room.image.url }}" alt="{{ room.image.name }}">
                                </a>
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title fs-3">{{room.classe}}</h5>
                                <span><i class="fa-solid fa-person fs-5 text-light"></i> {{room.capacidade_adultos}}</span>
                                <span ><i class="fa-solid fa-child"></i> {{room.capacidade_criancas}}</span>
                                <p class="card-text">
                                    <div class="row">
                                        
                                        {% for beneficio in benefits %}
                                            <div class="col-md-6 form-check">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDisabled" disabled {% if beneficio in room.beneficio.all %} checked {% endif %}>
                                                <label class="form-check-label text-light" for="{% if beneficio in room.beneficio.all %} flexCheckCheckedDisabled {% else %} flexCheckDisabled {% endif %} ">{{beneficio}}</label>
                                            </div>
                                        {% endfor %}

                                    </div>

                                </p>
                                <div class="col-md-12 d-flex justify-content-end">                                 
                                    <a href="{% url "reserva" room.pk %}" class="btn btn-primary btn-lg">Reservar {{room.daily_price_formatted}}</a>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!--card end-->
            </div> 
        {% empty %}
            Não há quartos disponíveis no momento.  
        {% endfor %}


    </div>
</div>

{% endblock content %}
