{% extends "base.html" %}
{% load static %}
{% load customfilters %}

{% block head %}<link rel="stylesheet" href={% static "/reserva/css/reserva.css" %}>{% endblock head %}

{% block content %}

<div class="rooms container py-5">
    <div class="row">
        r{{request.session.room_id}}
        c{{request.session.client_id}}

        {% for room in rooms_available %}
            <div class="col-md-12 mb-2">
                <!--card init-->
                <div class="card room-card">

                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex justify-content-center">
                            {% if room.image %}
                                <img class="card-img-top" src="{{ room.image.url }}" alt="{{ room.image.name }}">
                            {% endif %}
                        </div>

                        <div class="col-md-8 ">
                            <div class="card-body">
                                <h5 class="card-title">{{room.classe}}</h5>
                                <span >Para até {{room.capacidade|pluralized_capacity}}</span></p>
                                <p class="card-text">
                                    <div class="row">
                                        
                                        {% for beneficio in benefits %}
                                            <div class="col-md-6 form-check">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDisabled" disabled {% if beneficio in room.beneficio.all %} checked {% endif %}>
                                                <label class="form-check-label text-light" for="{% if beneficio in room.beneficio.all %} flexCheckCheckedDisabled {% else %} flexCheckDisabled {% endif %} ">{{beneficio}}</label>
                                            </div>
                                        {% endfor %}

                                    </div>

                                </p>
                                <div class="col-md-12 d-flex justify-content-end">
                                    {% comment "" %}{% if not request.session.room_id or request.session.room_id and not request.session.client_id %} {% endif %}{% endcomment %}

                                    
                                    <a href="{% if request.session.client_id and request.session.room_id %} {% url "payment" request.session.room_id request.session.client_id %} {% else %} {% url "pre_reserva" %}?room_id={{room.pk}} {% endif %}" class="btn btn-primary btn-lg">Reservar quarto {{room.daily_price_formatted}}</a>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!--card end-->
            </div> 
        {% empty %}
            Não há quartos disponíveis no momento.  
        {% endfor %}


    </div>
</div>

{% endblock content %}