
{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/reserva/css/prereserva.css" %}>
{% endblock head %}

{% block content %}
    <div class="prereserva-container container">
        <form action="{% if '/agendar/' in request.path %} {% url "agendar" quarto_pk %}{% else %} {% url 'reserva' quarto_pk %}{% endif %}" method="post" class="reservas-form row g-3">
            {% csrf_token %}
            {% include "partials/_messages.html" %}

            <div class="col-md-6">
                <label for="checkin" class="form-label">Check-in</label>
                <input required type="date" class="form-control" name="checkin" value="{% if request.POST.checkin %}{{request.POST.checkin}}{% endif %}">
            </div>
    
            <div class="col-md-6">
                <label for="checkout" class="form-label">Check-out</label>
                <input required type="date" class="form-control" name="checkout" value="{% if request.POST.checkout %}{{request.POST.checkout}}{% endif %}">
            </div>

            <div class="col-md-12">
                <label for="obs" class="form-label">Observações</label>
                <textarea maxlength="100" rows="3" class="form-control" name="obs" id="obs" placeholder="Ex.: Decoração de casal" value="{% if request.POST.obs %}{{request.POST.obs}}{% endif %}"></textarea>
            </div>

            <div class="col-md-12 d-flex justify-content-center mt-3">
                    <button type="submit" class="reserva-btn btn">Enviar</button>
            </div>
    
        </form>
    </div>
{% endblock content %}
