{% extends "base.html" %}


{% block content %}
<style>
    p {
        display: flex;
        justify-content: space-between;
    }
    input {
        background-color: rgba(188, 145, 228, 0.507);
    }
    form{
        margin: 10%;
        background-color: blueviolet;
        padding: 2%;
        border-radius: 15px;
    }
</style>

    <div class="container d-flex justify-content-center">
        <form action="{% url 'update_perfil' request.user.pk %}" method="get">
            {% include "partials/_messages.html" %}
            
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <label class="form-label" for="username">Usuário: </label>
                    <input class="form-control" type="text" disabled value="{{object.username}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="username">Nome: </label>
                    <input class="form-control" type="text" disabled value="{{object.nome}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="username">Sobrenome: </label>
                    <input class="form-control" type="text" disabled value="{{object.sobrenome}}">
                </div>
                <div class="col-md-12">
                    <label class="form-label" for="username">CPF: </label>
                    <input class="form-control" type="text" disabled value="{{object.cpf}}">
                </div>
                <div class="col-md-12">
                    <label class="form-label" for="username">E-mail: </label>
                    <input class="form-control" type="text" disabled value="{{object.email}}">
                </div>
                <div class="col-md-12 d-flex justify-content-center mt-3">
                    <button class="btn btn-outline-light" type="submit">Editar</button>
                </div>
                <a href={% url "update_perfil_password" request.user.pk %}>
                    Alterar senha
                </a>
            </div>
        </form>
    </div>

{% endblock content %}