{% extends "base.html" %}


{% block content %}

<div class="container signup-container vh-100">

            <form action="{% url 'signin' %}" method="post" class="signup-form g-0">
                {% csrf_token %}
                {% include "partials/_messages.html" %}
        
                    <div class="form-floating col-md-12 mb-2">
                        <input required type="text" required class="form-control" value="{% if request.POST.nome %}{{request.POST.username}}{% endif %}" name="username" id="username" placeholder="Username" aria-label="Username">
                        <label for="username">Nome de usuário ou email</label>
                    </div>
                    
                    <div class="form-floating col-md-12 mb-2">
                        <input  required type="password" required class="form-control" value="{% if request.POST.password %}{{request.POST.password}}{% endif %}" name="password" id="password" placeholder="password" aria-label="password">
                        <label for="password">Senha</label>
                    </div>
        

                <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit" class="reserva-btn btn btn-sm btn-primary">Enviar</button>
                </div>
                
            </form>

</div>

{% endblock content %}