{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center mt-5">
        <h5>Pagamento efetuado com sucesso.</h5>
        <p>Data de pagamento: {{payment.date}}</p>
        <p>Status: {{payment.get_status_display|title}}</p>
        <p>Pagador: {{payment.reservation.client.complete_name}}</p>
        <p>de {{payment.reservation.checkin}} a {{payment.reservation.checkout}}</p>
        <p>Classe {{payment.reservation.room.room_class}}</p>
        <p>Nº{{payment.reservation.room.number}}</p>
        <p>Total: {{payment.reservation.formatted_price}}</p>
    </div>

</div>
{% endblock content %}

{% block footer %}
    <footer class="footer fixed-bottom">
        {% include "partials/_footer.html" %}
    </footer>
{% endblock footer %}