.reserve-form {
    padding: 3%;
    border-radius: 15px;
    background-color: var(--dark-color);
    height: 100%;
}
.reserve-form div div input {
    background-color: var(--realce-color);
}

.reserve-form div div textarea {
    background-color: var(--realce-color);
    color: var(--realce-2-color);
}

.reserve-form div div textarea:focus{
    background-color: var(--realce-color);
}
.reserve-form div div input:focus{
    background-color: var(--realce-color);
}
.container {
    height: 100%;
}