{% extends "base.html" %}


{% block content %}

<div class="container mt-5 vh-100">
    <div class="row ">
        <div class="col-md-6">
            <img src="{{ reservation.room.image.url }}" class="img-thumbnail" alt="{{ reservation.room.image.name }}">
        </div>
        <div class="col-md-6 ml-3">
            <h1>Quarto {{ reservation.room.room_class }}</h1>
            <div class="row d-flex mt-5">
                <p class="fs-5">Check-in: {{ reservation.checkin }}</p>
                <p class="fs-5">Check-out: {{ reservation.checkout }}</p>
                <p class="fs-5">Quarto: Nº{{ reservation.room.number }}</p>
                <p class="fs-5">Custo: {{ reservation.formatted_price }}</p>
                <p class="fs-5">Data de criação: {{ reservation.created_at }}</p>
                <p class="fs-5">Status: {{ reservation.get_status_display|title }}</p>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <p class="text-dark">{{room.long_desc}}</p>
        </div>
    </div>
</div>

{% endblock content %}