
{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "/reserva/css/reserve.css" %}>
{% endblock css %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center p-5">

    <form id="form" action="{% if "/agendar/" in request.path %} {% url "schedule" room_pk %}{% else %} {% url 'reserve' room_pk %}{% endif %}" method="post" class="form reserve-form text-light" >{% csrf_token %}
        <div class="container">
            <div class="d-flex justify-content-center">
                {% include "partials/_messages.html" %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="checkin" class="form-label">Check-In</label>
                        <input required id="checkin" name="checkin" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="checkout" class="form-label">Check-In</label>
                        <input required id="checkout" name="checkout" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="form-group">
                        <label class="form-label text-light" for="obs">Check-Out</label>
                        <textarea maxlength="100" name="obs" id="obs" class="form-control" placeholder="Ex.: Decoração de aniversário de casamento"></textarea>
                    </div>
                </div>
                {% include "partials/_recaptcha_input.html" %}
                <div class="col-md-12 d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-outline-info">Enviar</button>
                </div>
            </div>
        </div>

    </form>

</div>

{% include "partials/_recaptcha_v3.html" %}
{% endblock content %}

{% block footer %}
    <footer class="footer fixed-bottom">
        {% include "partials/_footer.html" %}
    </footer>
{% endblock footer %}
