{% extends "base.html" %}

{% block title %}Quarto {{room.number}}{% endblock title %}

{% block content %}

<div class="container">
    <!--image and short description-->
    <div class="row mb-5">
        <div class="col-md-4 d-flex justify-content-center">
            <img src="{{room.image.url}}" alt="" class="img-fluid rounded">
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <div class="jubroton">
                <h1 class="text-center display-4">Quarto {{room.number}} | {{room.room_class|capfirst}}</h1>
                <p>{{room.short_desc}}</p>
            </div>
        </div>
    </div>

    <!--all the benefits of the room-->
    <div class="row mb-5">
        {% for benefit in benefits %}
            <div class="col-md-3 text-light mb-3">
                {% if benefit.icon %}
                    <img src="{{benefit.icon.url}}" alt="" width="64" class="img-fluid mr-3">
                {% endif %}
                <span style="margin-left: 5%;">{{benefit}}</span>
            </div>
        {% endfor %}
    </div>

    <!--long description-->
    <p>
        {{room.long_desc}}
    </p>
    <div class="d-flex justify-content-center">
        {% include "partials/_reserve_btn.html" %}
    </div>
</div>

{% endblock content %}